/*https://www.reddit.com/u/readf0x/
https://github.com/readf0x*/
@charset "utf-8";
html {
	display: inline;
}
div.img {
	text-align: center
}
div.body {
	margin-right: 450px;
	margin-left: 450px;
}
div.sharables {
	position: absolute;
	position: fixed;
	top: 50%;
}
div.sharables ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
