.head-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 40px 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    .subhead {
        font-weight: 400;
        font-style: italic;
        color: #4c566a;
    }
    .green {
        color: #a3be8c;
    }
    .blue {
        color: #88c0d0;
    }
}
