@import '../node_modules/nord/src/sass/nord.scss';

.btn-navbar {
    display: inline-flex;
    background-color: $nord1;
    color: $nord4;
    border-radius: 45em;
    --bs-btn-padding-x: 8px;
    --bs-btn-padding-y: 0px;
    font-family: 'Inria Serif', serif;
    font-size: 24px;
    align-items: center;
    &:hover {
        @extend .btn-navbar;
        background-color: $nord2;
    }
    &:active:focus {
        @extend .btn-navbar;
        background-color: $nord3;
        border-color: $nord4;
    }
    i.bi {
        padding-right: 0.25em;
    }
}
