@import '../node_modules/nord/src/sass/nord.scss';

$blue: $nord10;
$indigo: #9278e0;
$purple: #5f4d8d;
$pink: $nord15;
$red: $nord11;
$orange: $nord12;
$yellow: $nord13;
$green: $nord14;
$teal: $nord7;
$cyan: $nord8;

$input-btn-focus-width: 0;

$code-color: $nord11;

@import 'bootstrap/scss/bootstrap';

#app {
    background-color: $nord0;
    color: $nord6;
    font-family: 'Bitter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
        background-color: $nord0;
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $nord1;
        border-radius: 20px;
        &:hover {
            background-color: $nord2;
            border-radius: 20px;
        }
    }
    .navbar {
        position: sticky;
        flex: none;
        top: 0;
        width: 100%;
        z-index: 10;
        transition: 0.3s ease-in-out;
        &.active {
            background-color: $nord0;
        }
    }
    .content {
        flex: 1;
        height: 100%;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .cards-scroll-wrapper {
            .cards-wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
            &::-webkit-scrollbar {
                background-color: $nord0;
                height: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $nord1;
                border-radius: 20px;
                &:hover {
                    background-color: $nord2;
                    border-radius: 20px;
                }
            }
        }
    }
    .footer {
        flex: none;
    }
    // position: relative;
}
html,
body {
    @extend #app;
    --bs-border-color: #3b4252;
}
img {
    border-radius: 20px;
    width: max-content;
    max-width: 100%;
}

.head-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // padding: 40px 40px 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    .head {
        font-weight: 800;
    }
    .subhead {
        font-weight: 400;
        font-style: italic;
        color: #4c566a;
    }
    .green {
        color: #a3be8c;
        position: relative;
        bottom: 0.1em;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    .blue {
        color: #88c0d0;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}
pre {
    border-radius: 20px;
    width: fit-content;
    code {
        background-color: $nord1 !important;
        width: fit-content;
    }
}