@import '../node_modules/nord/src/sass/nord.scss';

$blue: $nord10;
$indigo: #9278e0;
$purple: #5f4d8d;
$pink: $nord15;
$red: $nord11;
$orange: $nord12;
$yellow: $nord13;
$green: $nord14;
$teal: $nord7;
$cyan: $nord8;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

#app,
html {
    background-color: $nord0;
    color: $nord5;
}
