/*https://www.reddit.com/u/readf0x/
https://github.com/readf0x*/
@charset "utf-8";
div.row {
  display: flex;
}
div.row div.main {
  width: 50%;
  padding: 15px;
  margin-left: 200px;
}
div.row div.sidebar {
  width: 15%;
  padding: 15px;
  float: right;
  position: sticky;
}
div.row div.main a.articletop {
  border-radius: 35px;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  background: url(depositphotos_11489080-stock-photo-fresh-carrots.jpg);
  background-size: 350px 200px;
  width: 350px;
  height: 200px;
  border: 2px solid #555;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
}
div.row div.main a.articletop:link {
  color: black;
  text-decoration: none
}
div.row div.main a.articletop:visited {
  color: black;
  text-decoration: none
}
div.row div.main a.articletop:hover {
  color: black;
  text-decoration: none
}
div.row div.main a.articletop:active {
  color: black;
  text-decoration: none
}
